<div class="d-flex justify-content-center text-center p-2">
  <div class="bg-white box-shadow border boder-rounded d-flex flex-column p-4 mt-4">

    <h1>Register</h1>
    <form action="/register" method="POST" enctype="multipart/form-data">
      
      <div class="d-flex flex-row justify-content-between">
     <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control {{#if errors.name}}is-invalid{{/if}}" placeholder="Name"
          aria-label="User name" value="{{ user.name }}">
        {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
      </div>
      <div>
        <label for="name" class="form-label">Role</label>
          <select class="form-select" aria-label="Default select example" name="role" required>
            <option value="Owner">Owner</option>
            <option value="Walker">Walker</option>
          </select>
        </div>
      </div>
 
      <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input class="form-control{{#if errors.email}} is-invalid{{/if}}" name="email" type="email" id="email"
            placeholder="name@example.com" value="{{user.email}}" required>
          {{#if errors.email}}
          <div class="invalid-feedback">
            {{errors.email}}
          </div>
          {{/if}}
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input class="form-control" name="password" type="password" id="password" required>
      </div>
      <div class="input-group mb-3">
        <input type="file" name="avatar"
          class="custom-form-control form-control border-0 py-2 ps-4 {{#if errors.password}}is-invalid{{/if}}">
      </div>
      <div class="flex">
        <button class="button" type="submit">Sign in</button>
        <hr>
        <a href="/login/google" class="btn btn-secondary">Sign in with Google</a>
      </div>
    </form>
  </div>
</div>