<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://images.vexels.com/media/users/3/202268/isolated/preview/81ec46f768b35a2a23d7a30f7b1d30bf-plano-de-huella-de-perro-rojo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Paw Venture
    </a>
  </div>
</nav>