
  <div class="d-flex flex-row justify-content-around align-items-center" style="height: 100vh;">
    <div class="p-5">
      <h1>Paw Venture</h1>
      <p>Embrace the wagging wonders</p>
    </div>
     <div class="p-5 bg-white text-center h-100 d-flex flex-column justify-content-center left-side-shadow" >
      <h2>Start your paw adventure</h2>
      <a href="./login" type="submit" class="button m-2">Log in</a>
      <a href="./register" type="submit" class="button m-2">Register</a>
    </div>
  </div>