<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paw Venture</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
      <h1>Embark on unforgettable journeys with your furry friends.</h1>
      <h2>Embrace the wagging wonders</h2>
    </div>
     <div class="mt-4">
      <a href="./login" type="submit" class="btn btn-primary">Sign in</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
