<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
</head>



<body>
    <div><img width="80" class="rounded" src="{{currentUser.avatar}}" alt="profile pic"> </div>
    <h1>{{currentUser.name}}</h1>
    <div>
        {{#if isOwner}}
            {{#each currentUser.dogs}}
                {{>dogCard dog=this}}
            {{/each}}
        {{else}}
        <h2>{{currentUser.role}}</h2>
            {{>list}}
        {{/if}}
    </div>
</body>

</html>